1. Create 1-D array(series ) in pandas.

In [24]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

2. Create a pandas series from a list

In [25]:
l = [1,2,3,4,5,6]
s = pd.Series(l)
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

3. Create a pandas series with user define index.

In [26]:
s = pd.Series(l, index = ['a','b','c','d','e','f'])
print(s)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

4. Write a program to create Dataframe by Dictionay .

In [30]:
dict1 = {'Name':['John', 'Jack', 'Sam', 'Tom'],
        'Age':[20, 27, 23, 18],
        'Height':[162, 158, 176, 150]}
df = pd.DataFrame(dict1)
df

   Name  Age  Height
0  John   20     162
1  Jack   27     158
2   Sam   23     176
3   Tom   18     150

5. Create DataFrame and put index

In [29]:
df = pd.DataFrame(dict1, index = ['i','ii','iii','iv'])
df

     Name  Age  Height
i    John   20     162
ii   Jack   27     158
iii   Sam   23     176
iv    Tom   18     150

6.Accessing Data from Series with Position
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

In [31]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[1:5])

b    2
c    3
d    4
e    5
dtype: int64

7.Create a DataFrame in which you have 2 columns(Name , Age) . And fill the data into this columns and use user define index

In [33]:
df = pd.DataFrame({'Name': ['Jack', 'John', 'Sam'],
                  'Age': [20, 35, 28]}, index = ['i','ii','iii'])
df

     Name  Age
i    Jack   20
ii   John   35
iii   Sam   28