**[Slide No. 41]**

1. Write a Python program to create a set.

In [2]:
s1 = {1,2,3,4}
type(s1)

set

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [15]:
s1 = {1,2,3,4}
s1.add(7)
s1

{1, 2, 3, 4, 7}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [17]:
list1 = [9,8,0]
string = 'ab'
i = 65
f = 98.0
s1.update(list1)
s1.add(string)
s1.add(i)
s1.add(f)
print(s1)

{0, 1, 2, 3, 4, 'ab', 65, 7, 8, 9, 98.0}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [18]:
list2 = ['c', 20, 9.890, 'asdg']
s1.update(list2)
print(s1)

{0, 1, 2, 3, 4, 'ab', 65, 7, 8, 9, 98.0, 'c', 9.89, 'asdg', 20}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [20]:
my_set = {1,3,4,5,6}
my_set.remove(5)        #The argument must be a member of the set for the remove function to work
my_set

{1, 3, 4, 6}

In [21]:
my_set = {1,3,4,5,6}
my_set.discard(7) #The argument is not necessary to be a part of the set. If it's in the set,it'll remove. If not, does nothing
print(my_set)

{1, 3, 4, 5, 6}

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [23]:
s2 = {1,1,2,4,5,6,5,6,7,8,9,'a','a'}
print(s2)            #Sets doesn't allow duplicate values. It automatically removes the duplicates

{1, 2, 4, 5, 6, 7, 8, 9, 'a'}

7.  Write a Python program to clear a set.

In [24]:
s3 = {1,2,3,4,5,6,7,8,9,0}
s3.clear()
print(s3)

set()

**[Slide No. 43]**

8. Write a program to add two set.

In [28]:
s4 = {'a','b'}
s5 = {1,2}
s4.update(s5)
print(s4)

{1, 'b', 2, 'a'}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [29]:
months = set(["January","February", "March", "April", "May", "June"])

print("\nprinting the original set ... ")

print(months)

print("\nRemoving some months from the set...");

months.remove('January')
months.remove('May')

print("\nPrinting the modified set...");

print(months)

printing the original set ...
{'May', 'March', 'January', 'February', 'April', 'June'}

Removing some months from the set...

Printing the modified set...
{'March', 'February', 'April', 'June'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [30]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}

Days2 = {"Friday","Saturday","Sunday"}

Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [31]:
ex1 = {1,2,3,4,5,6}
ex2 = {'a',2,'c',4}
ex1.intersection(ex2)

{2, 4}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [32]:
ex1.difference(ex2)

{1, 3, 5, 6}

In [33]:
ex2.difference(ex1)

{'a', 'c'}