[Slide No- 39]

1. Create empty tuple and check its Data type.

In [1]:
t1 = ()
type(t1)

tuple

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [2]:
T1 = (101,'Peter',22)
T2 = ('Apple','Banana','Orange')
T3 = (10,20,30,40,50)
print(type(T1))
print(type(T2))
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [4]:
tup = (1,2,3,4,5,6,7)
print(tup[0])

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [5]:
tup = (1,2,3,4,5,6,7)
print(tup[8])  #Error because there are only seven elements in it.

IndexError: tuple index out of range

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [6]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [16]:
t1 = (1,2,3,4,5,6)
l1 = list(t1)        #Converting to List
del l1[:]            #Deleting all the items
t1 = tuple(l1)       #Converting it back to tuple
print(t1)

()

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [20]:
t1 = (1,2,3,4,5,6,7)
print('t1 = ',t1)
l1 = list(t1)
l1.pop(2)
t1 = tuple(l1)
t1

t1 =  (1, 2, 3, 4, 5, 6, 7)

(1, 2, 4, 5, 6, 7)

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [9]:
tuple1 = (1, 2, 3, 4, 5)
tuple1[-2:]

(4, 5)

In [10]:
tuple1[-2]

4

In [14]:
tuple1[-1::-1]

(5, 4, 3, 2, 1)